@use '/src//componentes/index/estilos/base/variables' as v;


.donaciones{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
    background-color: #FFFFFF;
}