@use '/src//componentes/index/estilos/base/variables' as v;

.donaciones-footer {
   
  margin-top: 10px;
  background-color: v.$background;
  padding: 20px;
  border-radius: 8px;
  font-family: v.$font-Switzer;

  .rs-accordion .rs-accordion-item {
    margin-bottom: 10px;
    border: none;

    .rs-accordion-item-header {
      background-color: v.$primary-200;
      color: v.$Text;
      font-size: 18px;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(v.$primary-200, 10%);
      }
    }

    .rs-accordion-item-content {
      background-color: v.$bg-300;
      color: v.$Text;
      padding: 15px;
      font-size: 16px;
    }
  }

  .donaciones-footer-masInfo, .donaciones-footer-info-cuenta, .donaciones-footer-info-paypal {
   
    padding: 10px;
    line-height: 1.5;
    text-align: center;
  }

  .donaciones-footer-img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    img {
      width: 100px; // Adjust according to your design needs
      height: auto;
      margin: 0 5px;
    }
  }
}

@media (min-width: 1000px) {
  .donaciones-footer {
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

    .rs-accordion {
      flex-grow: 1;
      margin-left: 20px;
    }

    .donaciones-footer-img {
      flex-basis: 300px; // Adjust based on your preference
    }
  }
}
