@use '/src//componentes/index/estilos/base/variables' as v;


.adopcion{
    background-color: #FFFFFF;
    height: 100vh;
}

.contenedor-cards{
  
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}

.custom-slider {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}