@use '/src//componentes/index/estilos/base/variables' as v;


.adopcion-header{

    &-titulo{
        text-wrap: balance;
        text-align: center;
        font-size: 18px;
        font-size: v.$font-Khand;
        color: v.$Text;
        font-weight: 600;
    }

    &-btn{
        margin: 20px 0 20px 30px ;
        background-color: v.$background; 
        border-radius: 10px;
        border: none;
        font-family: v.$font-Khand;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1.5px;
        color: v.$Text;
        width: 150px;
       
        &:hover{
            background-color: v.$primary-300;
        }
    }
}






.adopcion-contenedor-gato{
 display: flex;
 gap: 25px;
 flex-wrap: wrap; 
 justify-content: center;
 width: 100%;

}


.adopcion-card{

        display: flex;
        flex-direction: column;
        width: 140px;
        height: 170px;
        background-color: v.$background;
    
        
         &-sub{
                display: flex;
                gap: 15px;
                margin-left: 10px;
                font-family: v.$font-Switzer;
                font-size: 10px;
                }
        
    
       
    
}

@media screen and (min-width: 1000px){

    .adopcion-header {
       
        &-titulo{
            padding: 10px;
            font-size: 20px;
        }

        &-btn{
            font-size: 20px;
            width: fit-content;
            padding: 10px;
           
            &:hover{
                background-color: v.$primary-300;
            }
        }
    }

    .adopcion-contenedor-gato{
        display: flex;
        gap: 25px;
        flex-wrap: wrap; 
        justify-content:center;
        align-items: center;
        width: 80%;
       
       }


    
    }    
