@use '../base/variables' as v;

.index-main-servicio {
    background-color: v.$bg-200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;

    &-titulo {
        text-align: center;
        font-size: 20px;
        color: v.$Accent;
        font-family: v.$font-Khand;
        margin: 10px;
    }

    &-parrafo {
        font-size: 10px;
        width: 50ch;
        margin: 10px;
        letter-spacing: 1px;
        font-family: v.$font-Switzer;

    }

    &-contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-top: 10px;
        margin-left: 10px;

        & figcaption {
            font-family: v.$font-Khand;
            font-weight: 700;
            font-size: 12px;
            color: v.$text-200;
            letter-spacing: 1px;
        }
    
        & img {
            width: 90px;
            height: 100px;
        }
    }

   
}

@media screen and (min-width: 1000px) {
    
.index-main-servicio{ 


    &-titulo {
        font-size: 30px;
    }

    &-parrafo {
        font-size: 15px;
        width: 100ch;
        margin: 10px;
        letter-spacing: 1px;
        text-wrap: balance;
    }

    &-contenido {
        gap: 50px;
        & figcaption {
            font-size: 15px;
            
            
        }
    
        & img {
            width: 90px;
            height: 100px;
        }
    }
}

}