@use '../base/variables' as v;

.index-redSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: v.$bg-200;

    & h2 {
        font-size: 30px;
        text-decoration: underline;
        letter-spacing: 1.5px;
        font-family: v.$font-Khand;
    }

    & picture {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;       
        width: 50%;
        gap: 1px;
        
        
    }
}
