@import url("https://api.fontshare.com/v2/css?f[]=switzer@400,300&f[]=khand@700,300,600&display=swap");

$font-Switzer: "Switzer", sans-serif;
$font-Khand: "Khand", sans-serif;

$background: #fff4e8;
$Primary: #ff4081;
$Accent: #ffc107;
$Text: #333333;
$bg-200: #f5eade;
$bg-300: #ccc1b6;
$primary-200: #ff79b0;
$primary-300: #ffe4ff;
$accent-200: #916400;
$text-200: #5c5c5c;
