@use '/src//componentes/index/estilos/base/variables' as v;


.historias{
    background-color: #FFFFFF;
}


@media screen and (min-width: 1000px){

    .historias{
        display: flex;
     
      
        &-main{
            flex-direction: row;
        display: flex;
        gap: 25px;
        flex-wrap: wrap; 
        justify-content:center;
        align-items: center;
        width: 80%;

        &-contenido{
            width: 40%;
        }
    }
    }

    
}
