@use '/src//componentes/index/estilos/base/variables' as v;


.historias-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

    &-contenido{
        background-color: #FCEFEF;
        margin: 20px;
        max-width: 321px;

        &-img{
            border-top-left-radius: 10px; border-top-right-radius: 10px;
        }


        &-titulo{
            font-family: v.$font-Khand;
            margin: 10px;
            font-size: 20px;
            font-weight: 600;
        }

        &-fecha{
            font-family: v.$font-Switzer;
            margin: 10px;
            font-size: 12px;
            text-align: right;
            font-weight: 100;
        }
    }
}


