@use '/src/componentes/index/estilos/base/variables' as v;

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-titulo {
        text-align: center;
        font-size: 30px; // Asegúrate de que esta es la variable correcta
        color: v.$Text; // Verifica que estas sean las variables correctas
        font-weight: 600;
    }

    &-contenedor {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;

        &-img {
            width: 200px;
            height: 100px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &-input {
        background-color: v.$background;
        border: none;
        border-radius: 20px;
        padding: 7px;
        width: 350px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &-custom-slider{
        width: 80%;
        height: 100px;
    }
}

@media screen and (min-width: 1000px) {
    .home-header {
        &-titulo {
            margin-top: 30px;
            font-size: 50px;
            font-weight: 600;
        }

          &-contenedor {
            width: 80%;
            flex-direction: row;
            &-img {
               height: 120px;
            }}

        &-input {
            margin-top: 30px;
            padding: 15px;
            width: 500px;
        }


        &-custom-slider{
            width: 100%;
            height: 100px;
        }
    }
    
}
