@use '/src//componentes/index/estilos/base/variables' as v;
.home-nav {
    display: flex;
    justify-content: space-between;

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &-img{
            width: 6 0px;
            height: 60px;
            clip-path: circle(35% at 50% 50%);
        }

        &-titulo{
            font-family: v.$font-Khand;
            font-size: 25px;
        }
    }

    &-contenedor {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        transition: 1s;
        background-color: v.$bg-200;
        letter-spacing: 2px;  

    &-pagina{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        &-link {
            font-size: 1.5rem;
            color: black;
            text-decoration: none;

            &:hover {
                color: v.$Primary;
            }
        
    }
    }

    &-confi{
        display: flex;
        flex-direction: column;
        text-align: center;

        &-item{
            font-size: 25px;
            text-decoration: none;
            color: v.$Text;
            font-family: v.$font-Khand;
            font-weight: 600;
            background-color: white;
            padding: 7px;
            
            &:hover {
                color: v.$Primary;
            }
        }

        &-item:first-child{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        &-item:last-child{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        

    }

    
   

    &-btn{
        visibility: visible;
        opacity: 1;
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: v.$Text;
        font-size: 1.8rem;
    }

    &-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    }


}

.responsive_nav {
    transform: translateY(100vh);
}



@media screen and (min-width: 1000px){

    .home-nav {
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: #EDEDF3;
        position: fixed;
        

    &-logo{
        background-color: #EDEDF3;
        height: 20vh;
    }

    &-contenedor{
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        letter-spacing: normal;
        transition: none;
        padding: 10px;

        &-pagina{
            display: flex;
            flex-direction: column;
           text-align: center;

            &-link{
                font-size: 25px;
                color: black;
                text-decoration: none;
    
               
            }
    
           
        }

        &-confi{

            display: flex;
            flex-direction: column;
            text-align: center;
            

            &-item{
                font-size: 25px;
                font-family: v.$font-Khand;
                background-color: white;
                color: v.$Primary;
                font-weight: 600;
                letter-spacing: 1px;
                text-decoration: none;
    
                &:hover{
                    color: black;
                }
            }
        }

       

        &-close-btn, &-btn{
            display: none;
        }
    }
}
}
