@use '/src//componentes/index/estilos/base/variables' as v;


.home-publicaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

    &-contenido{
        background-color: v.$background;
        margin: 20px;
       

        &-img{
            border-top-left-radius: 10px; border-top-right-radius: 10px;
        }

        &-perfil{
            display: flex;
            gap: 10px;
            margin: 10px;
            align-items: center;

            &-foto{
                width: 50px;
                height: 30px;
            }

            &-usuario{
                font-family: v.$font-Khand;
                font-weight: 800;
            }
        }

        &-parrafo{
            font-family: v.$font-Switzer;
            margin: 10px;
            font-size: 15px;
        }
    }
}

@media screen and (min-width: 1000px){

    .home-publicaciones{
        
      

           &-contenido{
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
           
            
            &-perfil{
                
    
                &-foto{
                    width: 60px;
                    height:35px;
                }
    
                &-usuario{
                    font-family: v.$font-Khand;
                    font-weight: 800;
                    font-size: 25px;
                }
            }
    
            &-parrafo{
                font-family: v.$font-Switzer;
                margin: 10px;
                font-size: 15px;
            }

           }

    }

}


